* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* TOP BAR */
.top-bar {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: white;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.icons {
  font-size: 20px;
}

/* HERO */
.hero {
  min-height: 70vh;
  display: flex;
  justify-content: center;   /* middle horizontally */
  align-items: flex-end;     /* bottom */
  background: url("image/hero.jpg") center/cover no-repeat;
  color: white;
  padding-bottom: 60px;      /* bottom gap */
}

.hero-text {
  text-align: center;
}

.hero button {
  padding: 14px 34px;
  background: white;
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.hero button:hover {
  background: black;
  color: white;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 30px 50px;
  background: #f7f7f7;
  text-align: center;
  font-weight: 500;
}

/* PRODUCTS */
.products {
  padding: 60px 50px;
}

.products h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.product {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.product h3 {
  margin: 15px 0 5px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.product button {
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* NEWSLETTER */
.newsletter {
  background: #111;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  margin-top: 15px;
  border: none;
}

.newsletter button {
  padding: 10px 20px;
  border: none;
  background: white;
  margin-left: 10px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #000;
  color: white;
}
